/* [project]/public/assets/fonts/gilroy/stylesheet.css [app-client] (css) */
@font-face {
  font-family: Gilroy;
  src: url("../media/Gilroy-Bold.3cxpt0_7eaxyo.eot");
  src: url("../media/Gilroy-Bold.3cxpt0_7eaxyo.eot") format("embedded-opentype"), url("../media/Gilroy-Bold.0uq5b1hbu8z7a.woff2") format("woff2"), url("../media/Gilroy-Bold.1bd8pjn6s47of.woff") format("woff"), url("../media/Gilroy-Bold.0wz1_f0nrjr7v.ttf") format("truetype"), url("../media/Gilroy-Bold.041wm7rl0etwl.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("../media/Gilroy-Medium.16d5monfih3qr.eot");
  src: url("../media/Gilroy-Medium.16d5monfih3qr.eot") format("embedded-opentype"), url("../media/Gilroy-Medium.07phh6mr92jac.woff2") format("woff2"), url("../media/Gilroy-Medium.0ob72bc87tkf_.woff") format("woff"), url("../media/Gilroy-Medium.3ujep1o6qj-9-.ttf") format("truetype"), url("../media/Gilroy-Medium.3jipjarvv40q4.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("../media/Gilroy-BoldItalic.3tuehw--d6slw.eot");
  src: url("../media/Gilroy-BoldItalic.3tuehw--d6slw.eot") format("embedded-opentype"), url("../media/Gilroy-BoldItalic.0ha3xllwswlwh.woff2") format("woff2"), url("../media/Gilroy-BoldItalic.0_mo3wkv8l-kl.woff") format("woff"), url("../media/Gilroy-BoldItalic.37y3phqhkrqi7.ttf") format("truetype"), url("../media/Gilroy-BoldItalic.36mwsmvlqasz7.svg") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("../media/Gilroy-MediumItalic.1k2pcfnpr-9ex.eot");
  src: url("../media/Gilroy-MediumItalic.1k2pcfnpr-9ex.eot") format("embedded-opentype"), url("../media/Gilroy-MediumItalic.33x44j1a7px6b.woff2") format("woff2"), url("../media/Gilroy-MediumItalic.10q9zjiulwi5k.woff") format("woff"), url("../media/Gilroy-MediumItalic.233bhlkx4v16w.ttf") format("truetype"), url("../media/Gilroy-MediumItalic.0o9w8g-vzn4xj.svg") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("../media/Gilroy-Regular.0nx6vz6gzpsr6.eot");
  src: url("../media/Gilroy-Regular.0nx6vz6gzpsr6.eot") format("embedded-opentype"), url("../media/Gilroy-Regular.1ea_2fq2k5h5_.woff2") format("woff2"), url("../media/Gilroy-Regular.44vmdauexi4ey.woff") format("woff"), url("../media/Gilroy-Regular.0pfiblxn-muv_.ttf") format("truetype"), url("../media/Gilroy-Regular.3as2rhav2kb7u.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("../media/Gilroy-SemiBold.3uyvsxo52yy17.eot");
  src: url("../media/Gilroy-SemiBold.3uyvsxo52yy17.eot") format("embedded-opentype"), url("../media/Gilroy-SemiBold.0uznk30k5_utm.woff2") format("woff2"), url("../media/Gilroy-SemiBold.2ohq8o7mz34jh.woff") format("woff"), url("../media/Gilroy-SemiBold.2x4_kore9wge-.ttf") format("truetype"), url("../media/Gilroy-SemiBold.1hyry8d4ckjpf.svg") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("../media/Gilroy-SemiBoldItalic.3o2b-i_xq03ui.eot");
  src: url("../media/Gilroy-SemiBoldItalic.3o2b-i_xq03ui.eot") format("embedded-opentype"), url("../media/Gilroy-SemiBoldItalic.1d6fgc_ebizwc.woff2") format("woff2"), url("../media/Gilroy-SemiBoldItalic.0tu87vrni1pgo.woff") format("woff"), url("../media/Gilroy-SemiBoldItalic.42guztnqcbr-e.ttf") format("truetype"), url("../media/Gilroy-SemiBoldItalic.3j3le_pnrcosb.svg") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Gilroy-RegularItalic;
  src: url("../media/Gilroy-RegularItalic.12szetfj2y0qo.eot");
  src: url("../media/Gilroy-RegularItalic.12szetfj2y0qo.eot") format("embedded-opentype"), url("../media/Gilroy-RegularItalic.0erdjkqpbirds.woff2") format("woff2"), url("../media/Gilroy-RegularItalic.2c64629lg98sj.woff") format("woff"), url("../media/Gilroy-RegularItalic.362bnww17bg-u.ttf") format("truetype"), url("../media/Gilroy-RegularItalic.1wqshmf7bielw.svg") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/*# sourceMappingURL=public_assets_fonts_gilroy_stylesheet_css_1igg3k2._.single.css.map*/