/* [project]/public/assets/css/module-css/testimonial.css [app-client] (css) */
.testimonials-one {
  background-color: var(--thm-gray-bg);
  z-index: 10;
  padding: 0 0 140px;
  display: block;
  position: relative;
}

.testimonials-one:before {
  content: "";
  background-color: var(--thm-white);
  z-index: -1;
  width: 100%;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}

.testimonials-one__img-box {
  border-radius: 5px;
  max-width: 520px;
  display: block;
  position: relative;
  overflow: hidden;
}

.testimonials-one__img-box img {
  width: 100%;
}

.testimonials-one__content-box {
  display: block;
  position: relative;
}

.testimonials-one__content-box .sec-title {
  padding-bottom: 119px;
}

.testimonials-one__content-box .text-box {
  display: block;
  position: relative;
}

.testimonials-one__content-box .text-box p {
  color: var(--thm-black);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4em;
}

.testimonials-one__content-box .athour-box {
  padding-top: 45px;
  display: block;
  position: relative;
}

.testimonials-one__content-box .athour-box h3 {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 34px;
}

.testimonials-one__content-box .athour-box p {
  margin: 0;
}

.testimonials-one__swiper-nav-style2 {
  bottom: 0;
  right: 0;
  position: absolute !important;
}

.swiper-nav-style2.testimonials-one__swiper-nav-style2 .swiper-button-next:hover, .swiper-nav-style2.testimonials-one__swiper-nav-style2 .swiper-button-prev:hover {
  background-color: var(--thm-primary);
}

.testimonials-two {
  background-color: var(--thm-black);
  z-index: 10;
  padding: 126px 0 132px;
  display: block;
  position: relative;
}

.testimonials-two__shape1 {
  position: absolute;
  top: 0;
  left: 0;
}

.testimonials-two__shape2 {
  opacity: .5;
  z-index: 1;
  position: absolute;
  top: 85px;
  left: 160px;
}

.testimonials-two__shape3 {
  opacity: .3;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.testimonials-two__shape4 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.testimonials-two__shape5 {
  opacity: .5;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 300px;
}

.testimonials-two__shape6 {
  opacity: .4;
  z-index: -1;
  position: absolute;
  bottom: 325px;
  right: 135px;
}

.testimonials-two__text {
  padding-bottom: 55px;
  display: block;
  position: relative;
}

.testimonials-two__text h2 {
  color: var(--thm-white);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3em;
}

.testimonials-two__single {
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  background: #ffffff0d;
  border: 1px solid #fff3;
  border-radius: 10px;
  padding: 40px;
  display: block;
  position: relative;
}

.testimonials-two__single .athour-box {
  align-items: center;
  display: flex;
  position: relative;
}

.testimonials-two__single .athour-box .img-box {
  border-radius: 8px;
  display: block;
  position: relative;
  overflow: hidden;
}

.testimonials-two__single .athour-box .img-box:before {
  content: "";
  opacity: .9;
  background: linear-gradient(0deg, var(--thm-black) -1.22%, rgba(var(--thm-white-rgb, 255, 255, 255), 0) 80.99%);
  transform-origin: bottom;
  transform-style: preserve-3d;
  z-index: 1;
  transition: all .5s ease-in-out .1s;
  position: absolute;
  inset: 0;
  transform: scaleY(0);
}

.testimonials-two__single:hover .athour-box .img-box:before {
  transform: scaleY(1);
}

.testimonials-two__single .athour-box .img-box img {
  width: 100%;
  transition: all .2s linear .1s;
}

.testimonials-two__single:hover .athour-box .img-box img {
  transform: scale(1);
}

.testimonials-two__single .athour-box .title {
  margin-left: 25px;
  display: block;
  position: relative;
}

.testimonials-two__single .athour-box .title h3 {
  color: var(--thm-white);
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.testimonials-two__single .athour-box .title p {
  color: #ffffffb3;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.testimonials-two__single-content {
  padding-top: 31px;
  display: block;
  position: relative;
}

.testimonials-two__single-content h3 {
  color: var(--thm-white);
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.testimonials-two__single-content p {
  color: #ffffffb3;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.testimonials-two__single-content .reting-box {
  padding-top: 27px;
  display: block;
  position: relative;
}

.testimonials-two__single-content .reting-box ul {
  align-items: center;
  display: flex;
  position: relative;
}

.testimonials-two__single-content .reting-box ul li {
  display: block;
  position: relative;
}

.testimonials-two__single-content .reting-box ul li + li {
  margin-left: 8px;
}

.testimonials-two__single-content .reting-box ul li .icon {
  line-height: 0;
  display: block;
  position: relative;
}

.testimonials-two__single-content .reting-box ul li .icon span {
  color: var(--thm-secondary);
  font-size: 20px;
  display: inline-block;
  position: relative;
}

.testimonials-three {
  background-color: var(--thm-white);
  z-index: 10;
  padding: 140px 0 0;
  display: block;
  position: relative;
}

.testimonials-three__shape1 {
  position: absolute;
  top: 140px;
  left: 490px;
}

.testimonials-three__shape2 {
  position: absolute;
  top: 360px;
  left: 310px;
}

.testimonials-three__shape3 {
  position: absolute;
  bottom: 40px;
  left: 480px;
}

.testimonials-three__img {
  width: 100%;
  max-width: 480px;
  display: block;
  position: relative;
}

.testimonials-three__img ul {
  align-items: flex-end;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  position: relative;
}

.testimonials-three__img ul li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  position: relative;
}

.single-testimonials-three__img-box {
  border-radius: 145px;
  margin-bottom: 30px;
  display: block;
  position: relative;
  overflow: hidden;
}

.single-testimonials-three__img-box .inner {
  display: block;
  position: relative;
  overflow: hidden;
}

.single-testimonials-three__img-box:before {
  content: "";
  opacity: .9;
  background: linear-gradient(0deg, var(--thm-black) -1.22%, rgba(var(--thm-white-rgb, 255, 255, 255), 0) 80.99%);
  transform-origin: bottom;
  transform-style: preserve-3d;
  z-index: 1;
  transition: all .5s ease-in-out .1s;
  position: absolute;
  inset: 0;
  transform: scaleY(0);
}

.single-testimonials-three__img-box:hover:before {
  transform: scaleY(1);
}

.single-testimonials-three__img-box img {
  width: 100%;
  transition: all .4s linear .1s;
  transform: scale(1);
}

.single-testimonials-three__img-box:hover img {
  transform: scale(1.05)rotate(0);
}

.testimonials-three__content {
  border-right: 1px solid var(--thm-border-color);
  margin-right: 110px;
  padding-right: 81px;
  display: block;
  position: relative;
}

.testimonials-three__content .sec-title-four {
  padding-bottom: 46px;
}

.testimonials-three__content-inner {
  display: block;
  position: relative;
}

.testimonials-three__content-inner .icon-box {
  position: absolute;
  bottom: -30px;
  right: 0;
}

.testimonials-three__content-inner .icon-box span {
  color: #caf3335e;
  font-size: 130px;
  display: inline-block;
  position: relative;
}

.testimonials-three__content-inner .text {
  display: block;
  position: relative;
}

.testimonials-three__content-inner .text p {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

.testimonials-three__content-inner .athor-box {
  padding-top: 32px;
  display: block;
  position: relative;
}

.testimonials-three__content-inner .athor-box h3 {
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.testimonials-three__content-inner .athor-box p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.swiper-nav-style2.testimonials-three__swiper-nav-style {
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: -111px;
  transform: translateY(-50%);
}

.swiper-nav-style2.testimonials-three__swiper-nav-style .swiper-button-next, .swiper-nav-style2.testimonials-three__swiper-nav-style .swiper-button-prev {
  border-radius: 50%;
}

.swiper-nav-style2.testimonials-three__swiper-nav-style .swiper-button-prev {
  margin-bottom: 50px;
  margin-right: 0;
}

/*# sourceMappingURL=public_assets_css_module-css_testimonial_css_1igg3k2._.single.css.map*/