/* [project]/public/assets/css/module-css/partner.css [app-client] (css) */
.partner-style1 {
  background-color: var(--thm-gray-bg);
  z-index: 10;
  padding-bottom: 110px;
  display: block;
  position: relative;
}

.single-partner-logo-box {
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.single-partner-logo-box a {
  background: var(--thm-white);
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.single-partner-logo-box a img:nth-child(2) {
  z-index: 1;
  opacity: 0;
  filter: blur(10px);
  position: absolute;
  inset: 0;
  transform: translateX(50%)scaleX(2);
}

.single-partner-logo-box a:hover img:nth-child(2) {
  opacity: 1;
  filter: blur();
  transform: translateX(0)scaleX(1);
}

.single-partner-logo-box a:hover img:first-child {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-50%)scaleX(2);
}

.single-partner-logo-box a img {
  opacity: .6;
  -o-transition: all .5s ease;
  width: 100%;
  transition: all .5s;
  display: block;
  position: relative;
}

.single-partner-logo-box a:before {
  content: "";
  background: var(--thm-primary);
  transform-origin: center;
  z-index: -1;
  transition: all .5s;
  position: absolute;
  inset: 0;
  transform: perspective(400px)scaleX(0);
}

.single-partner-logo-box a:hover:before {
  transform: perspective(400px)scaleX(1);
}

.partner-style2 {
  background: var(--thm-white);
  z-index: 11;
  padding: 7px 0 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.partner-style2 .swiper-slide {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  display: flex;
  overflow: hidden;
}

.partner-style2 .swiper-slide .img-box {
  -o-transition: all .3s ease;
  transition: all .3s;
  display: block;
  position: relative;
}

.partner-style2 .swiper-slide:hover .img-box {
  transform: translateY(-100%);
}

.partner-style2 .swiper-slide .img-box img {
  width: 100%;
}

.partner-style2 .swiper-slide .img-box2 {
  text-align: center;
  -o-transition: all .3s ease;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  display: flex;
  position: absolute;
  inset: 0;
  transform: translateY(100%);
}

.partner-style2 .swiper-slide:hover .img-box2 {
  transform: translateY(0);
}

.partner-style2 .swiper-slide .img-box2 img {
  opacity: 1;
}

.partner-style3 {
  z-index: 10;
  background-color: #0000;
  display: block;
  position: relative;
}

.partner-style3 .row {
  --bs-gutter-x: 0px;
}

.partner-style3 ul {
  border: 1px solid var(--thm-border-color);
}

.partner-style3 ul.list-one {
  border-bottom: none;
}

.partner-style3 ul li {
  border-left: 1px solid var(--thm-border-color);
}

.partner-style3 ul li:first-child {
  border-left: none;
}

.single-partner-style3-logo-box {
  display: block;
  position: relative;
  overflow: hidden;
}

.single-partner-style3-logo-box a {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
}

.single-partner-style3-logo-box a img:nth-child(2) {
  z-index: 1;
  opacity: 0;
  filter: blur(10px);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transform: translateX(50%)scaleX(2);
}

.single-partner-style3-logo-box a:hover img:nth-child(2) {
  opacity: 1;
  filter: blur();
  transform: translateX(0)scaleX(1);
}

.single-partner-style3-logo-box a:hover img:first-child {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-50%)scaleX(2);
}

.single-partner-style3-logo-box a img {
  opacity: .6;
  -o-transition: all .5s ease;
  width: auto;
  transition: all .5s;
  display: block;
  position: relative;
}

.single-partner-style3-logo-box a:before {
  content: "";
  background: var(--thm-secondary);
  transform-origin: center;
  z-index: 1;
  transition: all .5s;
  position: absolute;
  inset: -1px 0 -1px -1px;
  transform: perspective(400px)scaleX(0);
}

.single-partner-style3-logo-box a:hover:before {
  transform: perspective(400px)scaleX(1);
}

/*# sourceMappingURL=public_assets_css_module-css_partner_css_1igg3k2._.single.css.map*/