/* [project]/public/assets/css/module-css/footer.css [app-client] (css) */
.footer-one {
  background-color: var(--thm-gray-bg);
  z-index: 10;
  display: block;
  position: relative;
  overflow: hidden;
}

.footer-main {
  z-index: 1;
  padding: 140px 0 83px;
  display: block;
  position: relative;
}

.footer-one__img1 {
  position: absolute;
  top: 215px;
  left: 187px;
}

.footer-one__img2 {
  position: absolute;
  top: 170px;
  right: 165px;
}

.footer-main__inner, .footer-one__logo-box {
  display: block;
  position: relative;
}

.footer-one__logo-box a {
  display: inline-block;
  position: relative;
}

.footer-one__logo-box a img {
  width: auto;
}

.footer-one__big-title {
  padding-top: 61px;
  display: block;
  position: relative;
}

.footer-one__big-title h2 {
  font-size: 48px;
  line-height: 1.1em;
}

.footer-one__text-box {
  padding-top: 28px;
  display: block;
  position: relative;
}

.footer-one__text-box p {
  margin: 0;
}

.footer-one__socel-link {
  padding-top: 32px;
  display: block;
  position: relative;
}

.footer-one__socel-link ul {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-one__socel-link ul li {
  display: block;
  position: relative;
}

.footer-one__socel-link ul li + li {
  margin-left: 10px;
}

.footer-one__socel-link ul li a {
  color: var(--thm-black);
  background: var(--thm-white);
  filter: drop-shadow(0 10px 30px #0000000f);
  z-index: 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  transition: all .2s linear .1s;
  display: flex;
  position: relative;
}

.footer-one__socel-link ul li a:hover {
  color: var(--thm-white);
  background: none;
}

.footer-one__socel-link ul li a:before {
  content: "";
  opacity: 0;
  background-color: var(--thm-primary);
  transform-style: preserve-3d;
  z-index: -1;
  transition: all .4s cubic-bezier(.62, .21, .45, 1.52);
  position: absolute;
  inset: 0;
  transform: scale(.5);
}

.footer-one__socel-link ul li:hover a:before {
  opacity: 1;
  border-radius: 50%;
  transform: scale(1);
}

.footer-middle__inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.copyright-menu {
  display: block;
  position: relative;
}

.copyright-menu ul {
  align-items: center;
  display: flex;
  position: relative;
}

.copyright-menu ul li {
  display: block;
  position: relative;
}

.copyright-menu ul li + li {
  margin-left: 34px;
}

.copyright-menu ul li p {
  margin: 0;
}

.copyright-menu ul li p a {
  color: var(--thm-body-font-color);
  transition: all .2s linear .1s;
}

.copyright-menu ul li p a:hover {
  color: var(--thm-primary);
}

.footer-middle__mail-box {
  align-items: center;
  display: flex;
  position: relative;
}

.footer-middle__mail-box .icon {
  margin-right: 10px;
  line-height: 0;
  display: block;
  position: relative;
  top: 1px;
}

.footer-middle__mail-box .icon span {
  color: var(--thm-body-font-color);
  font-size: 20px;
  display: inline-block;
  position: relative;
}

.footer-middle__mail-box .text {
  display: block;
  position: relative;
}

.footer-middle__mail-box .text p {
  margin: 0;
}

.footer-middle__mail-box .text p a {
  color: var(--thm-body-font-color);
  transition: all .2s linear .1s;
}

.footer-middle__mail-box .text p a:hover {
  color: var(--thm-primary);
}

.footer-bottom {
  padding: 0 0 22px;
  display: block;
  position: relative;
}

.footer-bottom__inner {
  border-top: 1px solid #1414141f;
  margin-top: 22px;
  padding-top: 23px;
  display: block;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  line-height: 26px;
  display: block;
  position: relative;
}

.copyright-text a {
  color: var(--thm-body-font-color);
}

.copyright-text a:hover {
  color: var(--thm-primary);
}

.footer-two {
  background-color: var(--thm-black);
  z-index: 10;
  display: block;
  position: relative;
}

.footer-two__shape1 {
  opacity: .4;
  position: absolute;
  top: 0;
  left: 135px;
}

.footer-two__shape2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-two__shape3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer-two__shape4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-two__shape5 {
  opacity: .5;
  z-index: 1;
  position: absolute;
  bottom: 60px;
  right: 75px;
}

.footer-main__two {
  padding: 130px 0 22px;
  display: block;
  position: relative;
}

.footer-main__two-top {
  border-bottom: 1px solid #fff3;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 55px;
  display: flex;
  position: relative;
}

.footer-two__logo-box {
  display: block;
  position: relative;
}

.footer-two__logo-box a {
  display: inline-block;
  position: relative;
}

.footer-two__logo-box a img {
  width: auto;
}

.footer-two__socel-link {
  display: block;
  position: relative;
}

.footer-two__socel-link ul {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-two__socel-link ul li {
  display: block;
  position: relative;
}

.footer-two__socel-link ul li + li {
  margin-left: 25px;
}

.footer-two__socel-link ul li a {
  color: var(--thm-black);
  background: var(--thm-white);
  z-index: 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 18px;
  font-weight: 700;
  transition: all .2s linear .1s;
  display: flex;
  position: relative;
}

.footer-two__socel-link ul li a:hover {
  color: var(--thm-black);
  background: none;
}

.footer-two__socel-link ul li a:before {
  content: "";
  opacity: 0;
  background-color: var(--thm-secondary);
  transform-style: preserve-3d;
  z-index: -1;
  transition: all .4s cubic-bezier(.62, .21, .45, 1.52);
  position: absolute;
  inset: 0;
  transform: scale(.5);
}

.footer-two__socel-link ul li:hover a:before {
  opacity: 1;
  border-radius: 50%;
  transform: scale(1);
}

.footer-main-two__inner {
  padding: 56px 0 143px;
}

.single-footer-widget, .single-footer-widget .title {
  display: block;
  position: relative;
}

.single-footer-widget .title h3 {
  color: var(--thm-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.single-footer-widget-box {
  padding-top: 25px;
  display: block;
  position: relative;
}

.single-footer-widget-box .text {
  display: block;
  position: relative;
}

.single-footer-widget-box .text p {
  color: #fffc;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.single-footer-widget__about {
  display: block;
  position: relative;
}

.single-footer-widget__about ul {
  padding-top: 25px;
  display: block;
  position: relative;
}

.single-footer-widget__about ul li {
  align-items: center;
  display: flex;
  position: relative;
}

.single-footer-widget__about ul li + li {
  margin-top: 20px;
}

.single-footer-widget__about ul li .icon {
  margin-right: 15px;
  line-height: 0;
  display: block;
  position: relative;
}

.single-footer-widget__about ul li .icon span {
  color: var(--thm-secondary);
  font-size: 15px;
  display: inline-block;
  position: relative;
}

.single-footer-widget__about ul li p {
  color: #fffc;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.single-footer-widget__about ul li p a {
  color: #fffc;
  transition: all .2s linear .1s;
}

.single-footer-widget__about ul li p a:hover {
  color: var(--thm-secondary);
}

.single-footer-widget.ml55 {
  margin-left: 55px;
}

.single-footer-widget.ml50 {
  margin-left: 50px;
}

.single-footer-widget__links, .single-footer-widget__links ul, .single-footer-widget__links ul li {
  display: block;
  position: relative;
}

.single-footer-widget__links ul li + li {
  margin-top: 15px;
}

.single-footer-widget__links ul li a {
  color: #fffc;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  transition: all .2s linear .1s;
  display: inline-block;
  position: relative;
}

.single-footer-widget__links ul li a:hover {
  color: var(--thm-secondary);
  margin-left: 3px;
}

.single-footer-widget__links ul li a:before {
  content: "";
  background-color: var(--thm-secondary);
  z-index: 1;
  width: 0;
  height: 1px;
  transition: all .6s .1s;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.single-footer-widget__links ul li a:hover:before {
  width: 100%;
}

.single-footer-widget__blog-list {
  padding-top: 32px;
  display: block;
  position: relative;
}

.single-footer-widget__blog-list > ul, .single-footer-widget__blog-list > ul > li {
  display: block;
  position: relative;
}

.single-footer-widget__blog-list > ul > li + li {
  margin-top: 25px;
}

.single-footer-widget__blog-list > ul > li .img-box {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.single-footer-widget__blog-list > ul > li .img-box img {
  width: 100%;
  transform: scale(1);
}

.single-footer-widget__blog-list > ul > li .img-box:before {
  content: "";
  opacity: .9;
  background: linear-gradient(0deg, var(--thm-black) -1.22%, rgba(var(--thm-white-rgb, 255, 255, 255), 0) 80.99%);
  transform-origin: bottom;
  transform-style: preserve-3d;
  z-index: 1;
  transition: all .5s ease-in-out .1s;
  position: absolute;
  inset: 0;
  transform: scaleY(0);
}

.single-footer-widget__blog-list > ul > li:hover .img-box:before {
  transform: scaleY(1);
}

.single-footer-widget__blog-list > ul > li:hover .img-box img {
  transform: scale(1.05)rotate(1deg);
}

.single-footer-widget__blog-list > ul > li .img-box > a {
  opacity: 0;
  color: var(--thm-white);
  z-index: 2;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all .7s;
  display: flex;
  position: absolute;
  inset: 0;
  transform: translateY(100px);
}

.single-footer-widget__blog-list > ul > li:hover .img-box > a {
  opacity: 1;
  transition-delay: .3s;
  transform: translateY(0);
}

.single-footer-widget__blog-list > ul > li .img-box > a:hover {
  color: var(--thm-secondary);
}

.single-footer-widget__blog-list > ul > li .title-box {
  padding-left: 130px;
  display: block;
  position: relative;
}

.single-footer-widget__blog-list > ul > li .title-box h5 {
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
}

.single-footer-widget__blog-list > ul > li .title-box h5 > a {
  color: var(--thm-white);
  transition: all .2s linear .1s;
}

.single-footer-widget__blog-list > ul > li .title-box h5 > a:hover {
  color: var(--thm-secondary);
}

.single-footer-widget__blog-list > ul > li > .title-box > .date-box {
  padding-top: 5px;
  display: block;
  position: relative;
}

.single-footer-widget__blog-list > ul > li > .title-box > .date-box > ul, .single-footer-widget__blog-list > ul > li > .title-box > .date-box > ul > li {
  align-items: center;
  display: flex;
  position: relative;
}

.single-footer-widget__blog-list > ul > li > .title-box > .date-box > ul > li + li {
  margin-left: 35px;
}

.single-footer-widget__blog-list > ul > li > .title-box > .date-box > ul > li .icon {
  margin-right: 10px;
  line-height: 0;
  display: block;
  position: relative;
}

.single-footer-widget__blog-list > ul > li > .title-box > .date-box > ul > li .icon span {
  color: #ffffffb3;
  font-size: 16px;
  display: inline-block;
  position: relative;
}

.single-footer-widget__blog-list > ul > li > .title-box > .date-box > ul > li .text {
  display: block;
  position: relative;
}

.single-footer-widget__blog-list > ul > li > .title-box > .date-box > ul > li .text p {
  color: #ffffffb3;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.footer-bottom-two {
  padding: 0;
  display: block;
  position: relative;
}

.footer-bottom-two .copyright-text a {
  color: #ffffffb3;
}

.footer-bottom-two .copyright-text a:hover {
  color: var(--thm-secondary);
}

.footer-bottom__two-inner {
  border-top: 1px solid #fff3;
  margin-top: 0;
  padding-top: 23px;
  display: block;
  position: relative;
}

.footer-bottom__two-inner .copyright-text {
  display: block;
  position: relative;
}

.footer-bottom__two-inner .copyright-text p {
  color: #ffffffb3;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.footer-bottom__two-inner .copyright-text p span {
  font-weight: 400;
}

.footer-three {
  background-color: var(--thm-secondary);
  z-index: 10;
  display: block;
  position: relative;
}

.footer-main__three {
  padding: 0;
  display: block;
  position: relative;
}

.footer-three__shape1 {
  opacity: .06;
  position: absolute;
  bottom: 55px;
  left: 0;
}

.footer-three__shape2 {
  opacity: .08;
  position: absolute;
  bottom: 55px;
  right: 0;
}

.footer-main__three-top {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-three__logo-box {
  max-width: 230px;
  display: block;
  position: relative;
}

.footer-three__logo-box a {
  display: inline-block;
  position: relative;
}

.footer-three__get-quote-form {
  z-index: 1;
  align-items: center;
  padding: 46px 0 42px 40px;
  display: flex;
  position: relative;
}

.footer-three__get-quote-form:before {
  content: "";
  background-color: var(--thm-black);
  z-index: -1;
  position: absolute;
  inset: 0 -10000000000px 0 0;
}

.footer-three__get-quote-form .title-box {
  display: block;
  position: relative;
}

.footer-three__get-quote-form .title-box h2 {
  color: var(--thm-white);
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.footer-three__get-quote-form .title-box p {
  color: #ffffffb3;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.footer-three__get-quote-form form {
  flex: 1;
  margin-left: 60px;
  display: block;
  position: relative;
}

.footer-three__get-quote-form .form-group {
  flex: 1;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-three__get-quote-form .form-group input[type="email"] {
  width: 315px;
  height: 65px;
  color: var(--thm-body-font-color);
  background-color: var(--thm-white);
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  position: relative;
}

.footer-three__get-quote-form form input[type="text"]::-webkit-input-placeholder {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form input[type="text"]:-moz-placeholder-shown {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form input[type="text"]::-moz-placeholder {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form input[type="text"]:-ms-placeholder-shown {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form input[type="email"]::-webkit-input-placeholder {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form input[type="email"]:-moz-placeholder-shown {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form input[type="email"]::-moz-placeholder {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form input[type="email"]:-ms-placeholder-shown {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form textarea::-webkit-input-placeholder {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form textarea:-moz-placeholder-shown {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form textarea::-moz-placeholder {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form form textarea:-ms-placeholder-shown {
  color: var(--thm-body-font-color);
}

.footer-three__get-quote-form .form-group button {
  display: block;
  position: relative;
}

.footer-three__get-quote-form .form-group button.thm-btn {
  color: var(--thm-black);
  border-radius: 0;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-three__get-quote-form .form-group button.thm-btn:after {
  background-color: var(--thm-secondary);
}

.footer-three__get-quote-form .form-group button.thm-btn:before {
  background-color: var(--thm-white);
}

.footer-main-three__inner {
  padding: 131px 0 127px;
}

.single-footer-widget-style2 .title h3 {
  color: var(--thm-black);
}

.single-footer-widget__about--2 .text p {
  color: #141414cc;
}

.single-footer-widget__about--2 ul li .icon span {
  color: var(--thm-black);
}

.single-footer-widget__about--2 ul li p, .single-footer-widget__about--2 ul li p a {
  color: #141414cc;
}

.single-footer-widget__about--2 ul li p a:hover {
  color: var(--thm-black);
}

.single-footer-widget__links-style2 ul li p a {
  color: #141414cc;
}

.single-footer-widget__links-style2 ul li p a:hover {
  color: var(--thm-black);
}

.single-footer-widget__links-style2 ul li a:before {
  background-color: var(--thm-black);
}

.single-footer-widget__blog-list-style2 > ul > li .title-box h5 > a {
  color: var(--thm-black);
}

.single-footer-widget__blog-list-style2 > ul > li .title-box h5 > a:hover, .single-footer-widget__blog-list-style2 > ul > li > .title-box > .date-box > ul > li .icon span, .footer-main__three .single-footer-widget__blog-list > ul > li > .title-box > .date-box > ul > li .text p {
  color: #141414b3;
}

.footer-bottom-three {
  background-color: #1414140d;
}

.footer-bottom__three-inner {
  border: none;
  padding: 15px 0 14px;
}

.footer-bottom__three-inner .copyright-text p, .footer-bottom__three-inner .copyright-text p a, .footer-bottom__three-inner .copyright-text p a:hover {
  color: #141414b3;
}

/*# sourceMappingURL=public_assets_css_module-css_footer_css_1igg3k2._.single.css.map*/