/* [project]/public/assets/css/module-css/banner.css [app-client] (css) */
.banner-one {
  background-color: var(--thm-gray-bg);
  z-index: 10;
  padding: 50px 0 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.banner-one__shape1 {
  z-index: 1;
  position: absolute;
  top: 165px;
  left: 110px;
}

.banner-one__shape2 {
  z-index: 1;
  position: absolute;
  bottom: 130px;
  left: 815px;
}

.banner-one__shape3 {
  z-index: 1;
  position: absolute;
  top: 175px;
  right: 135px;
}

.banner-one__inner {
  display: block;
  position: relative;
}

.banner-one__content {
  float: left;
  padding-top: 150px;
  display: block;
  position: relative;
}

.banner-one__content .sub-title {
  border-left: 2px solid var(--thm-primary);
  margin-bottom: 6px;
  display: block;
  position: relative;
}

.banner-one__content .sub-title h5 {
  color: var(--thm-black);
  font-size: 20px;
  line-height: 20px;
  font-family: var(--thm-heading-font);
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 700;
}

.banner-one__content .big-title {
  padding-bottom: 24px;
  display: block;
  position: relative;
}

.banner-one__content .big-title h2 {
  color: var(--thm-black);
  font-size: 78px;
  line-height: 1.3em;
  font-family: var(--thm-heading-font);
  font-weight: 700;
}

.banner-one__content .text {
  display: block;
  position: relative;
}

.banner-one__content .text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.banner-one__content .btn-box {
  margin-top: 57px;
  line-height: 0;
  display: inline-block;
  position: relative;
}

.banner-one__content .btn-box:before {
  content: "";
  opacity: 1;
  background-color: var(--thm-primary);
  z-index: -1;
  border-radius: 4px;
  transition-duration: .7s;
  position: absolute;
  inset: 6px -6px -6px 6px;
}

.banner-one__content .btn-box:hover:before {
  opacity: 0;
}

.banner-one__img {
  float: right;
  width: 100%;
  max-width: 710px;
  margin-right: -102px;
  display: block;
  position: relative;
  overflow: hidden;
}

.banner-one__img .inner {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.banner-one__img .inner img {
  width: auto;
}

.banner-one__img-bg {
  background: linear-gradient(180deg, var(--thm-primary) 0%, var(--thm-primary-light) 52.82%, var(--thm-secondary) 100%);
  z-index: -1;
  border-radius: 50%;
  width: 710px;
  height: 710px;
  position: absolute;
  bottom: -187px;
  left: 0;
  right: 0;
}

.banner-two {
  background-color: var(--thm-black);
  z-index: 10;
  padding: 183px 0 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

.banner-two__shape1 {
  position: absolute;
  top: 0;
  left: 0;
}

.banner-two__shape2 {
  position: absolute;
  bottom: 0;
  left: 380px;
}

.banner-two__shape3 {
  opacity: .4;
  position: absolute;
  top: 140px;
  left: 150px;
}

.banner-two__shape3 img {
  animation: 5s ease-in infinite animation1;
}

.banner-two__shape4 {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100px;
}

.banner-two__shape5 {
  opacity: .5;
  position: absolute;
  bottom: 270px;
  right: 850px;
}

.banner-two__shape6 {
  opacity: .5;
  position: absolute;
  bottom: 65px;
  right: 85px;
}

.banner-two__inner {
  display: block;
  position: relative;
}

.banner-two__content {
  float: left;
  padding-top: 58px;
  display: block;
  position: relative;
}

.banner-two__content .big-title {
  padding-bottom: 27px;
  display: block;
  position: relative;
}

.banner-two__content .big-title h2 {
  color: var(--thm-white);
  font-size: 88px;
  line-height: 1.3em;
  font-family: var(--thm-heading-font);
  font-weight: 700;
}

.banner-two__content .text {
  max-width: 550px;
  display: block;
  position: relative;
}

.banner-two__content .text p {
  color: #fffc;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.banner-two__content .bottom-box {
  align-items: center;
  padding-top: 62px;
  display: flex;
  position: relative;
}

.banner-two__content .bottom-box .btn-box {
  line-height: 0;
  display: block;
  position: relative;
}

.banner-two__content .bottom-box .btn-box .thm-btn {
  color: var(--thm-black);
  border-radius: 12px;
}

.banner-two__content .bottom-box .btn-box .thm-btn:hover {
  color: var(--thm-black);
}

.banner-two__content .bottom-box .btn-box .thm-btn:before {
  background-color: var(--thm-white);
}

.banner-two__content .bottom-box .btn-box .thm-btn:after {
  background-color: var(--thm-secondary);
}

.banner-two__content .bottom-box .user-people {
  align-items: center;
  padding-left: 30px;
  display: flex;
  position: relative;
}

.banner-two__content .bottom-box .user-people ul {
  align-items: center;
  display: flex;
  position: relative;
}

.banner-two__content .bottom-box .user-people ul li {
  display: block;
  position: relative;
}

.banner-two__content .bottom-box .user-people ul li img {
  width: 100%;
}

.banner-two__content .bottom-box .user-people .text {
  padding-left: 20px;
  display: block;
  position: relative;
}

.banner-two__content .bottom-box .user-people .text p {
  color: var(--thm-white);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.banner-two__img {
  float: right;
  width: 100%;
  max-width: 702px;
  margin-left: 42px;
  margin-right: -150px;
  display: block;
  position: relative;
  overflow: hidden;
}

.banner-three {
  background-color: var(--thm-primary-lighter);
  z-index: 10;
  padding: 235px 0 109px;
  display: block;
  position: relative;
  overflow: hidden;
}

.banner-three__shape1 {
  z-index: 1;
  position: absolute;
  top: 229px;
  left: 140px;
}

.banner-three__shape2 {
  position: absolute;
  top: 0;
  left: 0;
}

.banner-three__shape3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
}

.banner-three__shape4 {
  position: absolute;
  bottom: 130px;
  left: 45%;
}

.banner-three__shape5 {
  position: absolute;
  top: 0;
  right: 0;
}

.banner-three__shape6 {
  z-index: 1;
  position: absolute;
  top: 240px;
  right: 285px;
}

.banner-three__content {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -142px;
  display: flex;
  position: relative;
}

.banner-three__content-inner {
  width: 100%;
  max-width: 610px;
  display: block;
  position: relative;
}

.banner-three__content .sec-title-four {
  padding-bottom: 36px;
}

.banner-three__content .sec-title-four .sub-title h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 45px;
}

.banner-three__content .sec-title-four h2 {
  font-size: 88px;
  font-weight: 700;
  line-height: 1.3em;
}

.banner-three__content .text {
  width: 100%;
  display: block;
  position: relative;
}

.banner-three__content .text p {
  color: #141414cc;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.banner-three__content .btn-box {
  align-items: center;
  margin-top: 62px;
  line-height: 0;
  display: flex;
  position: relative;
}

.banner-three__content .btn-box .thm-btn {
  border-radius: 0;
}

.banner-three__content .btn-box .thm-btn:hover {
  color: var(--thm-black);
}

.banner-three__content .btn-box .thm-btn:before {
  background-color: var(--thm-secondary);
}

.banner-three__content .btn-box .video-gallery {
  align-items: center;
  padding-left: 30px;
  display: flex;
  position: relative;
}

.banner-three__content .btn-box .video-gallery .icon {
  background: var(--thm-secondary);
  z-index: 2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  transition: all .2s linear .1s;
  display: flex;
  position: relative;
}

.banner-three__content .btn-box .video-gallery .icon:hover {
  background-color: var(--thm-black);
}

.banner-three__content .btn-box .video-gallery .icon .video-popup {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.banner-three__content .btn-box .video-gallery .icon .video-popup span {
  color: var(--thm-black);
  font-size: 15px;
  transition: all .2s linear .1s;
  position: relative;
}

.banner-three__content .btn-box .video-gallery .icon:hover .video-popup span {
  color: var(--thm-white);
}

.banner-three__content .btn-box .video-gallery .icon:after, .banner-three__content .btn-box .video-gallery .icon:before {
  content: "";
  z-index: -1;
  background: none;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: all .4s;
  animation: 3s infinite ripple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 #d4f161e6;
}

.banner-three__content .btn-box .video-gallery .icon:after {
  animation-delay: .6s;
}

.banner-three__content .btn-box .video-gallery .text2 {
  flex: 1;
  padding-left: 15px;
  display: block;
  position: relative;
}

.banner-three__content .btn-box .video-gallery .text2 p {
  color: var(--thm-black);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-decoration: underline;
  position: relative;
}

.banner-three__img {
  flex: 1;
  width: 100%;
  max-width: 716px;
  display: block;
  position: relative;
}

.banner-three__img ul {
  align-items: flex-end;
  display: flex;
  position: relative;
}

.banner-three__img ul li {
  float: left;
  display: block;
  position: relative;
}

.banner-three__img-single {
  background: linear-gradient(#caf3334d 0%, #caf33300 78.09%);
  border-radius: 300px;
  padding: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}

.banner-three__img-single .inner {
  border-radius: 300px;
  display: block;
  position: relative;
  overflow: hidden;
}

.banner-three__img-single.instyle--2 {
  background: linear-gradient(#caf33300 24.55%, #caf33347 100%);
  border-radius: 200px;
}

.banner-three__img-single.instyle--2 .inner {
  border-radius: 200px;
}

/*# sourceMappingURL=public_assets_css_module-css_banner_css_1igg3k2._.single.css.map*/