/* [project]/public/assets/css/10-icomoon.css [app-client] (css) */
@font-face {
  font-family: icomoon;
  src: url("../media/icomoon.0io5vx0xb3x_y.eot");
  src: url("../media/icomoon.0io5vx0xb3x_y.eot") format("embedded-opentype"), url("../media/icomoon.0xq81jv85pc65.ttf") format("truetype"), url("../media/icomoon.23l2_r9zhgtsv.woff") format("woff"), url("../media/icomoon.3kr45yg4f3ixe.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  speak: never;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: icomoon !important;
}

.icon-plugin-development:before {
  content: "";
}

.icon-phone-call:before {
  content: "";
}

.icon-email:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-vimeo:before {
  content: "";
}

.icon-down-arrow:before {
  content: "";
}

.icon-prev:before {
  content: "";
}

.icon-next:before {
  content: "";
}

.icon-plus-symbol-button:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-up-right-arrow:before {
  content: "";
}

.icon-right-arrow-angle:before {
  content: "";
}

.icon-left-arrow:before {
  content: "";
}

.icon-mail-inbox-app:before {
  content: "";
}

.icon-telephone:before {
  content: "";
}

.icon-instagram-symbol:before {
  content: "";
}

.icon-pin:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-time:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-percentage:before {
  content: "";
}

.icon-right:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-chat:before {
  content: "";
}

.icon-search-interface-symbol:before {
  content: "";
}

.icon-magnifying-glass:before {
  content: "";
}

.icon-quote:before {
  content: "";
}

.icon-pdf-file:before {
  content: "";
}

.icon-document:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-menus:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-problem-analysis:before {
  content: "";
}

.icon-app-development:before {
  content: "";
}

.icon-build-develop:before {
  content: "";
}

.icon-cms--development:before {
  content: "";
}

.icon-find-solutions:before {
  content: "";
}

.icon-free-consultation:before {
  content: "";
}

.icon-web-development1:before {
  content: "";
}

.icon-business-strategy:before {
  content: "";
}

.icon-completed-projects .path1:before {
  content: "";
  color: #000;
  opacity: .784;
}

.icon-completed-projects .path2:before {
  content: "";
  color: #000;
  opacity: .799;
  margin-left: -1em;
}

.icon-completed-projects .path3:before {
  content: "";
  color: #000;
  opacity: .798;
  margin-left: -1em;
}

.icon-cup-teas .path1:before {
  content: "";
  color: #000;
  opacity: .918;
}

.icon-cup-teas .path2:before {
  content: "";
  color: #000;
  opacity: .76;
  margin-left: -1.0166em;
}

.icon-cup-teas .path3:before {
  content: "";
  color: #000;
  opacity: .761;
  margin-left: -1.0166em;
}

.icon-cup-teas .path4:before {
  content: "";
  color: #000;
  opacity: .918;
  margin-left: -1.0166em;
}

.icon-design-strategy .path1:before {
  content: "";
  color: #141414;
  opacity: .793;
}

.icon-design-strategy .path2:before {
  content: "";
  color: #141414;
  opacity: .829;
  margin-left: -1.06641em;
}

.icon-design-strategy .path3:before {
  content: "";
  color: #141414;
  opacity: .803;
  margin-left: -1.06641em;
}

.icon-design-strategy .path4:before {
  content: "";
  color: #141414;
  opacity: .805;
  margin-left: -1.06641em;
}

.icon-design-strategy1 .path1:before {
  content: "";
  color: #000;
  opacity: .897;
}

.icon-design-strategy1 .path2:before {
  content: "";
  color: #000;
  opacity: .848;
  margin-left: -1em;
}

.icon-digital-marketing .path1:before {
  content: "";
  color: #000;
  opacity: .809;
}

.icon-digital-marketing .path2:before {
  content: "";
  color: #000;
  opacity: .795;
  margin-left: -.983398em;
}

.icon-digital-marketing .path3:before {
  content: "";
  color: #000;
  opacity: .824;
  margin-left: -.983398em;
}

.icon-email-marketing .path1:before {
  content: "";
  color: #000;
  opacity: .849;
}

.icon-email-marketing .path2:before {
  content: "";
  color: #000;
  opacity: .921;
  margin-left: -1em;
}

.icon-happy-clients .path1:before {
  content: "";
  color: #000;
  opacity: .8;
}

.icon-happy-clients .path2:before {
  content: "";
  color: #000;
  opacity: .765;
  margin-left: -1.23047em;
}

.icon-happy-clients .path3:before {
  content: "";
  color: #000;
  opacity: .857;
  margin-left: -1.23047em;
}

.icon-happy-clients .path4:before {
  content: "";
  color: #000;
  opacity: .787;
  margin-left: -1.23047em;
}

.icon-product-development .path1:before {
  content: "";
  color: #000;
  opacity: .849;
}

.icon-product-development .path2:before {
  content: "";
  color: #000;
  opacity: .801;
  margin-left: -1em;
}

.icon-product-development .path3:before {
  content: "";
  color: #000;
  opacity: .842;
  margin-left: -1em;
}

.icon-web-development .path1:before {
  content: "";
  color: #141414;
  opacity: .905;
}

.icon-web-development .path2:before {
  content: "";
  color: #141414;
  opacity: .885;
  margin-left: -1em;
}

.icon-web-development2 .path1:before {
  content: "";
  color: #141414;
  opacity: .859;
}

.icon-web-development2 .path2:before {
  content: "";
  color: #141414;
  opacity: .827;
  margin-left: -1.14844em;
}

.icon-web-development2 .path3:before {
  content: "";
  color: #141414;
  opacity: .867;
  margin-left: -1.14844em;
}

.icon-web-development2 .path4:before {
  content: "";
  color: #141414;
  opacity: .838;
  margin-left: -1.14844em;
}

.icon-web-development2 .path5:before {
  content: "";
  color: #141414;
  opacity: .838;
  margin-left: -1.14844em;
}

.icon-web-development2 .path6:before {
  content: "";
  color: #141414;
  opacity: .847;
  margin-left: -1.14844em;
}

.icon-web-development2 .path7:before {
  content: "";
  color: #141414;
  opacity: .834;
  margin-left: -1.14844em;
}

.icon-website-design .path1:before {
  content: "";
  color: #141414;
  opacity: .804;
}

.icon-website-design .path2:before {
  content: "";
  color: #141414;
  opacity: .772;
  margin-left: -1.06641em;
}

.icon-winning-award:before {
  content: "";
}

/*# sourceMappingURL=public_assets_css_10-icomoon_css_1igg3k2._.single.css.map*/